@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Solitreo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: 'Space Grotesk', sans-serif;
      scroll-behavior: smooth;
    }
  }

  ::-webkit-scrollbar{
    width: 8px;
  }

  ::-webkit-scrollbar-thumb{
    background: #888999;
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-track{
    background: #434344;
    
  }

.main {
  background-color:#0f0e13;
  background-image: 
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 0%, hsla(225,39%,30%,1) 0, transparent 50%), 
    radial-gradient(at 100% 0%, rgb(18, 3, 43) 0, transparent 50%),
    radial-gradient(at 100% 100%, hsla(253,16%,7%,1) 0, transparent 50%),
    radial-gradient(at 50% 100%, hsla(225,39%,30%,1) 0, transparent 50%), 
    radial-gradient(at 0% 100%, rgb(18, 3, 43) 0, transparent 50%);
}

.header {
  background-color:#0f0e13;
  background-image: 
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 100%), 
    radial-gradient(at 50% 0%, hsla(225,39%,30%,1) 0, transparent 100%), 
    radial-gradient(at 100% 0%, rgb(38, 8, 87) 0, transparent 100%);
}

.mantine-Carousel-control{
  border: none;
  color: white;
}

